<div style="height: 35px;">
    
    <span  value="H" (click)="onSelect(option)" style="font-size: 20px;">my<span style="color: orange; cursor: pointer;">f</span>in</span>
    <span class="title" style="padding-left: 30%;" >Bank Account Details</span>
    <span class="pipe" style="padding-left: 30%;" (click)="selectnext(option)">Transaction</span>
    
</div><hr size="1"  color="lightgrey">
<div (click)="showTrans(option)" class="dml">Add ></div>
<br>
<ng-container *ngIf="show"> <div> 
<span class="naming">User Id:</span>
    <input id="txtUserId" class="headeramt" ref-sname type="text" (blur)="onChange('userid',$event)">
<span class="naming">Acct Id:
      </span><input id="txtId" class="headeramt" ref-sname type="text" (blur)="onChange('id',$event)">
<span class="naming">ROI:</span><input id="txtRoi" class="headeramt" type="text" (blur)="onChange('roi',$event)">
<span class="naming">Total Amt:</span><input id="txtAmt" class="headeramt" type="text" (blur)="onChange('amt',$event)">
<span class="naming">Date of Update:</span><input id="txtDt"  type="date" (blur)="onChange('dt',$event)">
<input class="savebtn" type="button" value="Save" (click)="AddTransaction()"></div></ng-container><br>

<div class="status" (click)="onFilter(2)"><div class="naming">Renuka</div>
    <div class="amt"><span style="float: left;padding-left: 15px;">Bank: </span><span class="shatusContent">{{rcash|number:'1.2-2'}}</span></div>
    <div class="amt"><span style="float: left;padding-left: 15px;">PF:</span><span class="shatusContent"> {{rpf|number:'1.2-2'}}</span></div>
    <div class="amt"><span style="float: left;padding-left: 15px;">PPF:</span><span class="shatusContent">{{rppf|number:'1.2-2'}}</span></div>
</div>

<div class="status" (click)="onFilter(1)"><div class="naming">Gaurav</div>
    <div class="amt"><span style="float: left;padding-left: 15px;">Bank:</span><span class="shatusContent">{{gcash|number:'1.2-2'}}</span></div>
    <div class="amt"><span style="float: left;padding-left: 15px;">PF:</span><span class="shatusContent">{{gpf|number:'1.2-2'}}</span></div>
    <div class="amt"><span style="float: left;padding-left: 15px;">PPF:</span>
        <span class="shatusContent">{{gppf|number:'1.2-2'}}</span></div>
</div>  
 
<table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        
        <td class="amt" >Total Amount:</td>
        <td class="amt" >{{at|number:'1.2-2'}}</td>
    </tr> 
  <tr class="header1"> 
    <td class="headeramt">UserId</td>
    <!--<td class="headeramt">Accout Id</td>-->
    <td class="headeramt">Acct Name</td>
    <td class="headeramt">Accout Type</td>       
    <td class="headeramt">Rate Of Intreset</td>
    <td class="headeramt">Accout Balance</td>      
</tr>
<tr class="header2" *ngFor ="let p of filterAcct; let acctId = index">
    <td class="amt">{{p.userid}}</td>        
        <!--<td class="amt">{{p.acctId}}</td>        -->
        <td class="amt">{{p.acctName}}</td>
        <td class="amt">{{p.acctType}}</td>
        <td contenteditable="true" (keyup)="changeValue(roi, 'roi', $event)" (blur)="updateList(p.acctId, 'roi', $event)" class="amt">{{p.roi|number:'1.1-2'}}%</td>
        <td contenteditable="true" (keyup)="changeValue(amt, 'amt', $event)" (blur)="updateList(p.acctId, 'amt', $event)" class="amt">{{p.amt|number:'1.2-2'}}</td>
    
</tr></table>
