<input type="button" class="btnHome" value="Home" (click)="onSelect(option)">
<h2>Bank Account Balance</h2>
<h3>Add Transaction</h3>
<span class="naming">User Id:</span><input id="txtUserId" class="headeramt" ref-sname type="text">
<span class="naming">Acct Id:</span><input id="txtId" class="headeramt" ref-sname type="text">
<span class="naming">ROI:</span><input id="txtRoi" class="headeramt" type="text">
<span class="naming">Total Amt:</span><input id="txtAmt" class="headeramt" type="text">
<span class="naming">Date of Update:</span><input id="txtDt"  type="date">
<input class="savebtn" type="button" value="Save" (click)="AddTransaction()">
<h3>Renuka Account</h3>
<h3>Gaurav Account</h3>
<h4>Total Amount:{{at|number : '1.2-2'}}</h4>
<table> 
  <tr class="header1"> 
    <td class="headeramt">Accout Id</td>
    <td class="headeramt">Acct Name</td>
    <td class="headeramt">Accout Type</td>       
    <td class="headeramt">Rate Of Intreset</td>
    <td class="headeramt">Accout Balance</td>  
    
</tr>
<tr class="header2" *ngFor ="let p of accDetail">
    
        <td class="amt">{{p.acctId}}</td>        
        <td class="amt">{{p.acctName}}</td>
        <td class="amt">{{p.acctType}}</td>
        <td class="amt">{{p.roi|number:'1.1-2'}}%</td>
        <td class="amt">{{p.amt|number:'1.2-2'}}</td>
    
</tr></table>
