.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 15px;
    padding-right: 15px;
  }
  .transtatus{
    text-align: center;
    cursor: pointer;
  }
 .centerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
 }