<!doctype html>
<table style="width: 100%;">
    <tr>
        <td style="width: 15%;">
            <span value="H" (click)="onSelect(option)" style="font-size: 22px;cursor: pointer;">my<span style="color: orange; ">f</span>in</span>
        </td>
        <td style="width: 70%;">
            <span class="title" style="padding-left: 30%;" (click)="onClick($event)">Portfolio</span>
        </td>
        <td style="width: 15%;">
            <span class="pipe"  (click)="selectnext(option)">Transaction</span>
        </td>
    </tr>
</table><hr size="1"  color="lightgrey"> 

<table  style="border-style: solid;border-color: white; width: 100%;">   
    <tr>
        <td colspan="2">
          <table style="width: 98%;" class="status">
            <tr>
                <td style="width: 40%;">
                    <select style="cursor: pointer; background-color: #eaea25de;" id="portfolio" (change)="changeFolio($event)">
                        <option value="0">All</option>
                        <option value="1" >Fillic_gov</option>
                        <option value="2">Renuka</option>
                        <option value="3">Fillic</option>
                        <option value="4">Naitik</option>
                        <option value="5">Kedar</option>                        
                    </select>
                </td>
                <td *ngIf="isShare" class="header3">         
                    <span style="display: inline-block;width: 170px;padding:2px;"  [ngStyle]="{color: getHeaderTrColor(eqPLPercent), 'font-size':'20px'}">{{eqPLPercent|number:'1.2-2'}}%</span>
                    <span style="display: inline-block;width: 170px;padding:2px;" class="shatusContent2">{{eqCurrVal|number:'1.2-2'}}</span>
                    <span style="display: inline-block;width: 170px;" class="shatusContent2">{{eqInvstVal|number:'1.2-2'}}</span>
                    <span style="display: inline-block;width: 170px;" class="shatusContent2">{{sdividend|number:'1.2-2'}} 
                    <span class="statusSmall">({{sdividend*100/eqInvstVal|number:'1.2-2'}}%)</span></span>
                </td>
            </tr>
            
            <tr>
                <td>
                    <input (click)="setradio('share')" type="radio" id="Share" name="equity" value="Share" checked> <label for="Share">Share</label>
                    <input (click)="setradio('MF')" type="radio" id="MF" name="equity" value="MF"> <label for="MF">Eqt MF</label>
                    <input (click)="setradio('debt')" type="radio" id="debt" name="equity" value="debt"> <label for="debt">Debt MF</label>
        
                </td>
                <td >
                    <span style="display: inline-block;width: 170px;padding:2px;">Net Return</span>            
                    <span style="display: inline-block;width: 170px;padding:2px;">Current</span>
                    <span style="display: inline-block;width: 170px;padding:2px;">Investment</span>
                    <span style="display: inline-block;width: 170px;padding:2px;" *ngIf="isShare">Dividend</span>
                </td>
            </tr>
            </table>                            
        </td>
    </tr>
    <tr>   
        <td style="width: 46%;">
            <div style="width: 650px;height:350px; " >
                <canvas baseChart
                [datasets]="getfolioAssetHistory"
                [labels]="assetHistorylbl"
                [options]="barChartOptions2"
                [plugins]="barChartPlugins2"
                [legend]="barChartLegend2"
                [colors]="barChartColors2"
                [chartType]="barChartType2"
                (chartClick)="historyClick($event)">
                </canvas>
            </div>
            
        </td>
        <td style="width: 54%;">
            <table style="width: 100%;">                 
                <tr  >                    
                    <td style="width: 70%;"> 
                        <div style="width: 600px;height: 350px;" >
                            <canvas baseChart 
                            [datasets]="sectorChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [plugins]="barChartPlugins"
                            [legend]="barChartLegend"
                            [colors]="barChartColors"
                            [chartType]="barChartType"
                            (chartClick)="chartHovered($event)">
                            </canvas>                             
                        </div>
                    </td>                    
                    <td style="width: 30%;">
                        <table style="padding-left: 10px;width: 80%;">
                            <tr class="header1" style="width:60%; " >
                                <td style="cursor: pointer;" (click)="sort('Year')" >Year</td>
                                <td>Xirr Return</td>
                                <td>Net Return</td>
                                <td>Dividend</td>                              
                            </tr>
                            <tr style="height: 24px;" *ngFor ="let q of assetReturns" >
                                <td class="dt">{{q.year}}</td>
                                <td class="percent" [ngStyle]="{color: getTrColor(q.return),'font-weight':'bold'}" >{{q.xirr|number:'1.2-2'}}%</td>                       
                                <td class="percent">{{q.return|number:'1.2-2'}}</td>
                                <td class="percent">{{q.dividend|number:'1.2-2'}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>  
                
            </table>
        </td>     
        
</tr>

</table>
<table *ngIf="show" > 
    <thead>
    <tr class="header1" style="vertical-align:middle">    
        <td (click)="sort('name')" class="headername">Equity Name<div>{{sharecount}}</div></td>
        <td class="headeramt">Live Price</td>    
        <td class="headeramt">Quantity</td>
        <td class="headeramt">Avg Price</td>
        <td (click)="sort('Investment')" class="headeramt">Net Invst<div>{{eqInvstVal|number:'1.2-2'}}</div></td>     
        <td (click)="sort('Gain')" class="headeramt">Gain<div>{{eqCurrVal-eqInvstVal|number:'1.2-2'}}</div></td>
        <td (click)="sort('Return')" class="headeramt">Return</td>
        <td (click)="sort('Dividend')" class="headeramt">Dividend<div>{{sdividend|number:'1.2-2'}}</div></td>
        <td (click)="sort('Divyield')" class="headeramt">Div Yield</td>
    </tr>
    </thead> 
    <tr class="header2" *ngFor ="let p of filterPortfolio">    
        <!--<div class="amt">{{p.trasactionId}}</div>-->
         
        <td class="naming" id="{{p.equityId}}" (click)="showdividend(p.equityId)">{{p.equityName}}<div id="{{p.equityId}}" ng-show=""></div></td>
        <td class="amt">{{p.livePrice|number:'1.2-2'}}</td>        
        <td class="amt">{{p.qty.toFixed(0)}}</td>
        <td class="amt">{{p.avgprice|number : '1.2-2'}}</td>
        <td class="amt">{{p.qty*p.avgprice|number:'1.2-2'}}</td>         
        <td class="amt" [ngStyle]="{color: getTrColor(p.profit),'font-weight':'bold'}">{{p.profit|number:'1.2-2'}}</td>        
        <td class="amt" [ngStyle]="{color: getTrColor(p.percentage),'font-weight':'bold'}">{{p.percentage|number:'1.2-2'}}%</td>
        <td class="amt">{{p.dividend.toFixed(2)}}</td>
        <td class="amt" style="color:#48b534;">{{(p.dividend*100/(p.qty*p.avgprice)).toFixed(1)}}%</td>
    </tr>
</table>
<div>
    <table> 
        <tr class="header1">
            <td class="headeramt">Date</td>
            <td class="headeramt">Name</td>
            <td class="headeramt">Qty</td>
            <td class="headeramt">Price</td>
            <td class="headeramt">Total</td> 
            <td class="headeramt">PB</td>          
            <td class="headeramt">Market Cap</td>          
        </tr>
        <tr class="header2" *ngFor ="let p of eqtTransaction">
            <td class="dt">{{p.tranDate|date}}</td>
            <td class="name">{{p.equityName}}</td>  
            <td class="amt">{{p.qty.toFixed(0)}}</td> 
            <td class="amt">{{p.price.toFixed(1)}}</td>
            <td class="amt">{{(p.price*p.qty).toFixed(0)}}</td>
            <td class="amt">{{(p.pb).toFixed(2)}}</td>
            <td class="amt">{{(p.marketCap|number:'1.2-2')}}</td>
        </tr>
    </table>
</div>
<table id="sharedetails" class="popup" style="display: none;">
    <tr>
        <td colspan="2" class="popupCloseButton"><span (click)="hideShareDetails()">X</span></td>
    </tr>
    <tr>
        <td>
            <table>                    
                <tr style="height: 25px;">
                    <td colspan="2"  style="text-align: right;cursor: pointer;font-weight: bold;"> </td>
                </tr>    
                <tr style="height: 40px;">
                    <td style="width: 60%;">                        
                       
                    </td>
                    <td style="width: 41%;font-size: 16px;" class="header3">
                       
                    </td>
                </tr>
                <tr style="height: 27px;" class="header4">
                    <td style="text-align: center;">
                    </td>
                    <td style="text-align: center;">                    
                    </td>            
                </tr>
                <tr style="height: 20px;"  *ngFor ="let p of companyDividend">       
                    <td>                  
                    </td> 
                    <td style="text-align: right;">                        
                    </td>             
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr class="header1">
                    <td class="headeramt">Date</td>
                    <td class="headeramt">Qty</td>
                    <td class="headeramt">Price</td>
                    <td class="headeramt">Total</td> 
                    <td class="headeramt">PB</td>          
                    <td class="headeramt">Market Cap</td>          
                </tr>
                <tr class="header2" *ngFor ="let p of eqtTransaction">
                    <td class="dt">{{p.tranDate|date}}</td>  
                    <td class="amt">{{p.qty.toFixed(0)}}</td> 
                    <td class="amt">{{p.price.toFixed(1)}}</td>
                    <td class="amt">{{(p.price*p.qty).toFixed(0)}}</td>
                    <td class="amt">{{(p.pb).toFixed(2)}}</td>
                    <td class="amt">{{(p.marketCap)}}</td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div style="width: 450px;height:150px; " >
                            <canvas baseChart
                                [datasets]="getEquityInvstmt"
                                [labels]="eqtyHistorylbl"
                                [options]="barChartOptions2"
                                [plugins]="barChartPlugins3"
                                [legend]="barChartLegend2"
                                [colors]="barChartColors3"
                                [chartType]="barChartType3">
                            </canvas>
                        </div>
                    </td>
                </tr>
                <tr style="height: 100px;"><td></td></tr>
                <tr>
                    <td colspan="6">
                        <div style="width: 450px;height:150px; " >
                        <canvas baseChart
                        [datasets]="getDivReturn"
                        [labels]="eqtyHstryDiv"
                        [options]="barChartOptions2"
                        [plugins]="barChartPlugins3"
                        [legend]="barChartLegend2"
                        [colors]="barChartColors4"
                        [chartType]="barChartType3">
                    </canvas>
                </div>
                    </td>
                </tr>
            </table>
        </td>        
    </tr>     
</table>
    
