  
  .bold{
    font-weight: bold;
  }
  .space{
    margin-right: 200px;
  }
  .popup{
    background-color: #111114fa;
     height: 450px;
     width: 850px;
     padding: 6px;
     z-index: 900;
     position: fixed;
     top: 150px;
     left: 300px;
     display: none;
  }