<!doctype html>
<table style="width: 100%; background-color: #000000d9;">
    <tr>
        <td style="width: 60%;color:aliceblue;vertical-align: top;">
            <span value="H" (click)="onSelect(option)" style="font-size: 22px;cursor: pointer;">my<span style="color: orange; ">f</span>in</span>
        </td>
        <td style="width: 10%;text-align: center;font-size: 20px; color: aliceblue;">
            <!--<span class="title" style="padding-left: 30%;" (click)="onClick($event)">Dashboard</span>-->
            <div > {{sdividend|number:'1.2-2'}}</div><div class="header4"> Dividend</div>     
        </td>
        <td style="width: 10%;color:aliceblue;font-size: 20px; text-align: center;margin: 1px;">
            <div>{{eqCurrVal|number:'1.2-2'}}</div>
            <div class="header4">Current Asset</div>           
        </td>
        <td style="width: 10%;color:aliceblue;font-size: 20px; text-align: center;margin: 1px;">
            <div>{{eqCurrVal-eqInvstVal|number:'1.2-2'}}</div>
            <div class="header4">Net Profit</div>           
        </td>
        <td style="width: 10%;color:aliceblue;font-size: 20px; text-align: center;margin: 1px;">
          <div> {{eqPLPercent|number:'1.2-2'}} %</div>
          <div class="header4">Aset Return(xirr)</div>           
        </td>
         
    </tr>
    
  </table>
  <span class="header4" style="font-size: 20px; " (click)="onClick($event)">Portfolio</span>
  
  <span style="margin-left: 18%;"> <select [(ngModel)]="selectedfolio" (change)="changeFolio($event)" style="cursor: pointer; background-color: #eaea25de;"  id="txtFolio" >
    <option value="0">All</option>
    <option [value]="item.folioID" *ngFor="let item of folios" > {{item.folioName}}</option>                    
  </select>  </span> 
  <span> 
    <input (click)="setradio('share')" type="radio" id="Share" name="equity" value="Share" checked> <label for="Share">Share</label>
    <input (click)="setradio('MF')" type="radio" id="MF" name="equity" value="MF"> <label for="MF">Eqt MF</label>
    <input (click)="setradio('debt')" type="radio" id="debt" name="equity" value="debt"> <label for="debt">Debt MF</label>
    <input (click)="setradio('bonds')" type="radio" id="Bond" name="equity" value="Bonds"> <label for="debt">Bonds</label>
  </span>
  <span class="pipe" style="float: right;margin-right:1%;" (click)="selectnext(option)">Transaction</span>

    <ng-container *ngIf="show" style="float: right;">
        <div>
            <textarea style="width:400px;height:100px; " id="comment" name="comment" [(ngModel)]="comment"></textarea>
            <input class="savebtn" type="button" value="Save" (click)="AddComment()">     
        </div>
    </ng-container>   
    <div>{{status}}</div> 
    <div (click)="showTrans(option)" class="dml">{{trnStatus}}</div>  
 
    <table  style="border-style: solid;border-color: white; width: 100%;  ">   
        <tr> 
        <td >
            <div style="width: 750px;height:375px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 10px;">
                <canvas baseChart
                [datasets]="getfolioAssetHistory"
                [labels]="assetHistorylbl"
                [options]="barChartOptions2"
                [plugins]="barChartPlugins2"
                [legend]="barChartLegend2"
                [colors]="barChartColors2"
                [chartType]="barChartType2"
                (chartClick)="historyClick($event)">
                </canvas>
            </div>
        <br>
            <ng-container *ngIf="showGraph">
                <div class="round" style="width: 750px;height:375px;float:left;" >
                    <canvas baseChart
                        [datasets]="rtnInvstmt"
                        [labels]="rtnHistorylbl"
                        [options]="rtnChartOptions"
                        [plugins]="rtnChartPlugins"
                        [legend]="rtnChartLegend"
                        [colors]="rtnChartColors"
                        [chartType]="rtnChartType"
                        (chartClick)="assetClassClick($event)">
                        
                    </canvas>
                </div>
                 
            </ng-container>
        </td>
        <td >
            
            <div class="round" style="width: 650px;height:375px; " >
                <canvas baseChart 
                [datasets]="sectorChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [colors]="barChartColors"
                [chartType]="barChartType"
                (chartClick)="sectorSelection($event)">
                </canvas>                             
            </div><br>
            <div> 
                <ng-container *ngIf="showGraph"> 
                <div  style="width: 520px;height:350px;float:left;" >
                    <table class="round"  style="padding-left: 10px;width: 80%;">
                        <tr class="header1" style="width:60%; " >
                            <td (click)="sort('Year')" >Year</td>
                            <td>Return+Div<span class="headerSmall">(xirr)</span></td>
                            <td>Net Return</td>
                            <td>Dividend</td>                              
                        </tr>
                        <tr style="height: 24px;" *ngFor ="let q of assetReturns" >
                            <td class="dt" (click)="showCompDividend(q.year)">{{q.year}}</td>
                            <td class="percent" [ngStyle]="{color: getTrColor(q.xirr),'font-weight':'bold'}" >{{q.xirr|number:'1.2-2'}}%</td>                       
                            <td class="percent">{{q.return|number:'1.2-2'}}</td>
                            <td class="percent">{{q.dividend|number:'1.2-2'}}</td>
                        </tr>
                    </table>
                </div>
                </ng-container>
        </div>
            <table>                 
                <tr>                    
                    <td style="width: 60%;"> 
                        
                     </td>                    
                    <td>                       
                     </td>
                </tr>  
            </table>
        </td>     
        
        </tr>
    </table>
    <br>
<table *ngIf="isShown">
    <thead>
    <tr class="header1" >    
        <td (click)="sort('name')" class="headername ">Equity Name<div>{{sharecount}}</div></td>
        <td (click)="sort('pb')" class="headeramt">PB</td>    
        <td (click)="sort('marketcap')" class="headeramt">MarketCap</td>    
        <td class="headeramt">Live Price</td>    
        <td class="headeramt">Qty</td>
        <td class="headeramt">Avg Price</td>
        <td (click)="sort('Investment')" class="headeramt">Net Invst<div>{{eqInvstVal|number:'1.2-2'}}</div></td>     
        <td (click)="sort('Gain')" class="headeramt">Gain<div>{{netReturn|number:'1.2-2'}}</div></td>
        <td (click)="sort('Return')" class="headeramt">Return<span class="headerSmall"> (xirr)</span></td>
        <td (click)="sort('Dividend')" class="headeramt">Dividend<div>{{sdividend|number:'1.2-2'}}</div></td>
        <td (click)="sort('Divyield')" class="headeramt">Retrun + Div<span class="headerSmall"> (xirr)</span></td>
    </tr>
    </thead> 
    <tr class="header2" *ngFor ="let p of filterPortfolio">    
        <!--<div class="amt">{{p.trasactionId}}</div>-->         
        <td class="naming link" id="{{p.eq.assetId}}" (click)="showdividend(p.eq.assetId,p.eq.equityName)">{{p.eq.symbol}}<div id="{{p.eq.assetId}}" ng-show=""></div></td>
        <td class="amt">{{p.eq.pb|number:'1.2-2'}}</td>        
        <td class="amt">{{p.eq.marketCap|number:'1.2-2'}}</td>        
        <td class="amt">{{p.eq.livePrice|number:'1.2-2'}}</td>        
        <td class="amt">{{p.qty.toFixed(0)}}</td>
        <td class="amt">{{p.avgprice|number : '1.2-2'}}</td>
        <td class="amt">{{p.qty*p.avgprice|number:'1.2-2'}}</td>         
        <td class="amt" [ngStyle]="{color: getTrColor(p.profit),'font-weight':'bold'}">{{p.profit|number:'1.2-2'}}</td>        
        <td class="amt" [ngStyle]="{color: getTrColor(p.percentage),'font-weight':'bold'}">{{p.percentage|number:'1.2-2'}}%</td>
        <td class="amt">{{p.dividend.toFixed(2)}}</td>
        <td class="amt" [ngStyle]="{color: getTrColor(p.divReturnXirr),'font-weight':'bold'}">{{p.divReturnXirr.toFixed(2)}}%</td>
    </tr>
</table>
<div class="header4">Total Investment in {{selectedMonth}}</div>
<div style=" display: flex;justify-content: center;">
    <table> 
        <tr class="header1">
            <td class="headeramt">Date</td>
            <td class="headername">Eqt Name</td>
            <td class="headeramt">Qty</td>
            <td class="headeramt">Price</td>
            <td (click)="sort('total')" class="headeramt">Total <div>{{invstTotal|number:'1.2-2'}}</div></td> 
            <td class="headeramt">PB</td>          
            <td class="headeramt">Market Cap</td>
            <td class="headeramt">Tran Type</td>          
        </tr>
        <tr class="header2" *ngFor ="let p of eqtTransaction">
            <td class="dt">{{p.tranDate|date}}</td>
            <td class="name" (click)="showdividend(p.equity.assetId,p.equity.equityName)">{{p.equity.equityName}}</td>  
            <td class="amt">{{p.qty.toFixed(0)}}</td> 
            <td class="amt">{{p.price.toFixed(1)}}</td>
            <td class="amt">{{(p.price*p.qty).toFixed(0)|number:'1.2-2'}}</td>
            <td class="amt">{{p.pB_Tran.toFixed(2)}}</td>
            <td class="amt">{{p.marketCap_Tran.toFixed(1)|number:'1.2-2'}}</td>
            <td class="amt" [ngStyle]="{color: getTranTypeColor(p.tranType),'font-weight':'bold'}">{{p.tranType}}</td>
        </tr>
    </table>
</div>

<!--POP UP-->
 
<table id="sharedetails" class="popup" style="display: none;background-color: #1f1f1f;" >    
    <tr>
        <td>
    <table style="width: 100%;">
        <tr  >
            <td><span style="width: 15%;color:#FFA500; font-size: 20px;" >{{selectedEqt}} ({{selectedEqtID}})</span></td>
            <td> <span class="popupCloseButton" (click)="hideShareDetails()">X</span></td>
        </tr>
    </table>
    <!--<div style="background-color: #000000d9;" class="popupCloseButton"><span (click)="hideShareDetails()">X</span></div>-->
    <!--<span style="background-color: #000000d9;" class="header3">{{selectedEqt}} ({{selectedEqtID}})</span>-->
    <div style="height:300px">
        <div style="width: 520px;height:275px;float: left;" >
            <canvas baseChart
                [datasets]="EquityInvstmt"
                [labels]="eqtyHistorylbl"
                [options]="eqtChartOptions"
                [plugins]="eqtChartPlugins"
                [legend]="eqtChartLegend"
                [colors]="eqtChartColors"
                [chartType]="eqtChartType">
            </canvas>
        </div> 
        <div style="width: 520px;height:275px; float: right;" >
            <canvas baseChart
                [datasets]="DivReturn"
                [labels]="eqtyHstryDiv"
                [options]="divChartOptions"
                [plugins]="divChartPlugins"
                [legend]="divChartLegend"
                [colors]="divChartColors"
                [chartType]="divChartType">
            </canvas>
        </div>
    </div>     
     
    <div>
        <table>
            <tr class="header1">
                <td (click)="sort('dtpurchase')" class="headeramt">Date</td>
                <td class="headeramt">Qty <div>{{totalShare}}</div></td>
                <td class="headeramt">Price</td>
                <td class="headeramt">Total</td> 
                <td class="headeramt">PB(Purchase)</td>          
                <td class="headeramt">Market Cap(Purchase)</td>
                <td class="headeramt">Ownership</td>
                <td class="headeramt">Buy/Sell</td>  
                <td class="headeramt">Freefloat</td>
                <td class="headeramt">verified?</td>          
            </tr> 
            
            <tr class="header2" *ngFor ="let p of eqtTransaction">
                <td class="dt">{{p.tranDate|date}}</td>  
                <td class="amt">{{p.qty.toFixed(0)}}</td> 
                <td class="amt">{{p.price.toFixed(2)}}</td>
                <td class="amt">{{(p.price*p.qty).toFixed(0)|number:'1.2-2'}}</td>
                <td class="amt">{{p.pB_Tran.toFixed(2)}}</td>
                <td class="amt">{{p.marketCap_Tran.toFixed(1)|number:'1.2-2'}}</td>                
                <td class="amt">{{p.ownership}}</td>
                <td class="name" style="text-align: center;" [ngStyle]="{color: getTranTypeColor(p.tranType)}">{{p.tranType}}</td>                            
                <td class="amt">{{p.freefloat_tran|number:'1.0-2'}}</td>
                <td class="headeramt" [ngStyle]="{color: getTranTypeColor(p.verified)}" (click)="tranVerified(p)">{{p.verified}}</td>
            </tr>        
        </table> 
    </div>   
</td>
</tr>
</table>

<div id="cmpDivDetails" class="popup" style="display: none;">
    
    <div class="popupCloseButton"><span (click)="hideShareDetails()">X</span></div>
    <div class="header3">Dividend Details (Current year)</div>
    <table>
        <tr class="header1">
            <td class="headername">Eqt Name</td>
            <td class="headeramt">EqtId</td>
            <td class="headeramt">Dividend Declared</td>
            <td (click)="sort('qty')" class="headeramt">qty</td>
            <td (click)="sort('netDiv')" class="headeramt">Net Dividend Amt</td>
            <td (click)="sort('DivReturn')" class="headeramt">DivReturn</td>
            <td class="headeramt">livePrice</td>
        </tr>
       
      <tr class="header2" *ngFor="let item of compDivDetails" >
        <td class="name">{{item.eq.symbol}}</td>
        <td  class="amt">{{item.eq.assetId}}</td>
        <td  class="amt"></td>
        <td  class="amt">{{item.qty}}</td>
        <td  class="amt">{{(item.dividend).toFixed(2)}}</td>
        <td  class="amt">{{(item.dividend*100/(item.eq.livePrice*item.qty)).toFixed(2)|number:'1.2-2'}}</td>    
        <td  class="amt">{{item.eq.livePrice}}</td>
      </tr> </table>
      <table>
        <tr class="header1">
            <td (click)="sort('intrestPaymentDate')" class="headername">Intest Credit Date</td>            
            <td class="headername">Bond Name</td>
            <td class="headeramt">BondId</td>
            <td class="headeramt">Intrest Credited <span>{{totalBondIntrest|number:'1.2-2'}}</span></td>            
            <td class="headeramt">livePrice</td>
        </tr>
       
        <tr class="header2" *ngFor="let item of bondIntrestDetails" >
            <td class="dt">{{item.intrestPaymentDate|date}}</td>        
            <td class="name">{{item.bondDetail.bondName}}</td>
            <td class="amt">{{item.bondDetail.bondId}}</td>
            <td class="amt">{{item.amt.toFixed(2)}}</td>        
            <td class="amt">{{item.bondDetail.livePrice}}</td>
        </tr> 
    </table>
</div>
 
    
