  
  .bold{
    font-weight: bold;
  }
  .space{
    margin-right: 200px;
  }
  .popup{
    background-color: lightgray;
     height: 200px;
     width: 300px;
     padding: 5px;
     z-index: 900;
     position: fixed;
     top: 200px;
     left: 250px;
  }