<h2>TAx</h2>

<ng-content></ng-content>
<table>
  <tr >
    <td > ID</td>
    <td > Age  </td>
    <td>   Name</td>
  </tr>
  <tr *ngFor="let product of rows">
    <td>{{product.ID}}</td>
    <td>{{product.Age}}</td>
    <td>{{product.Name}}</td>
  </tr>
</table>
<div style="display: block;" >
  <canvas baseChart 
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
 
</div>
 