<div>
  <span value="H" (click)="onSelect(option)" style="font-size: 20px;">my<span style="color: orange; cursor: pointer;">f</span>in</span>
  <span class="title" style="padding-left: 30%;padding-top: 10px;">Asset Creation/Tax Saving</span>
  <span class="pipe" style="padding-left: 22%;" (click)="selectnext(option)">Bank Account Details</span>
  <span class="pipe" > | </span>
  <span class="pipe" (click)="selectnext(option)">Portfolio</span>
  <span class="pipe" > | </span>
  <span class="pipe" (click)="selectnext(option)">Transaction</span>
  </div>
<hr size="1"  color="lightgrey">  

<ng-content></ng-content>
<table style="width: 100%;">
  <tr>
    <td style="width: 1%;"></td>
    <td style="width: 98%;">
      <table style="width: 98%;">
        <tr style="width: 100%; padding: 5px">
          <td  >
            <table style="width: 100%;" class="status">
              <tr>
                <td style="padding: 15px;width: 25%;"><select style="cursor: pointer; background-color: #eaea25de;" id="portfolio" (change)="changeFolio($event)">
                  <option value=0>All Portfolio</option>
                  <option value=1 >Fillic_gov</option>
                  <option value=2>Renuka</option>
                  <option value=3>Fillic</option>
                  <option value=4>Naitik</option>
                  <option value=5>Kedar</option> 
              </select></td>
              <td style="width: 60%;"><span class="shatusContent2">{{avgMonthCashflow/pastMonth|number:'1.2-2'}}</span><div > (past {{pastMonth}} months)</div></td>
              <td style="text-align: right;">
                <span>Past</span>
                <span style="padding:6px" (click)="selectCashflow(6)" >6 Month</span>
                <span style="padding:6px"(click)="selectCashflow(12)" >12 Month</span>
                <span style="padding:6px" (click)="selectCashflow(0)"  >All months</span>
              </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="3"><div class="header3" style="text-align: left;color:crimson">Cash Flow</div></td>
        </tr>
        <tr>
          <td>
            <div>
              <table>
                <tr>
                  <td style="vertical-align: top;">
                    <table  style="float:left;width: 40%;">
                    <tr>
                      <td class="header1">Month</td>    
                      <td class="header1">Dividend<br><span>{{avgDiv/pastMonth|number:'1.2-2'}}</span></td>
                      <td class="header1">Cash Flow</td>           
                    </tr>
                    <tr *ngFor ="let p of cashflw">
                      <td class="dt">{{p.monthyear}}</td>    
                      <td class="amt">{{p.dividend|number:'1.2-2'}}</td>
                      <td class="amt">{{p.cash|number:'1.2-2'}}</td>           
                    </tr>
                  </table>
                  <table style="float: left; width: 25%;">
                    <tr  >
                      <td class="header1">From Equity MF<br>{{avgEqtCashflow/pastMonth|number:'1.2-2'}}</td>           
                    </tr>
                    <tr  *ngFor ="let p of cashflwMF">          
                      <td class="amt">{{p.cash|number:'1.2-2'}}</td>          
                    </tr>
                  </table>
                  <table style="width: 25%;">        
                    <tr >     
                      <td class="header1"><span>From Debt MF</span><br> <span>{{avgDebtCashflow/pastMonth|number:'1.2-2'}}</span></td>           
                    </tr>
                    <tr *ngFor ="let p of cashflwDMF">          
                      <td class="amt">{{p.cash|number:'1.2-2'}}</td>                                  
                    </tr>
                  </table>
                </td>                  
                  <td style="width: 40%;">
                    <div style="width: 600px;height: 350px;" >
                      <canvas baseChart 
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [colors]="barChartColors"
                        [chartType]="barChartType">
                      </canvas></div>
                  </td>
                </tr>
              </table>    
            
                 
             
          </div>
          </td>                
        </tr>
        <tr>
          <td> 
            <table>
              <tr>
                <td>
                
                </td>
                <td> 
                  <div style="width: 600px;height: 350px;" >
                    <canvas baseChart 
                      [datasets]="barChartDataMF"
                      [labels]="barChartLabelsMF"
                      [options]="barChartOptionsMF"
                      [plugins]="barChartPluginsMF"
                      [legend]="barChartLegendMF"
                      [colors]="barChartColorsMF"
                      [chartType]="barChartTypeMF">
                    </canvas></div>
                </td>
              </tr>
            </table>             
           
        </tr>
        <tr>
          <td>
            <div class="status">
              <span>Cash Flow</span>
            </div>
            <div class="status">
              <div>Cash Out</div>
            </div>
          </td>
          
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <td>Month/Year</td>
                <td>Dividend</td>    
                <td>Cash Flow</td>
              </tr>
              <tr *ngFor ="let p of cashflw">
                <td>{{p.monthyear}}</td>    
                <td>{{p.dividend|number:'1.2-2'}}</td>
                <td>{{p.cash|number:'1.2-2'}}</td>   
              </tr>
            </table>
          </td>           
        </tr>        
      </table>
    </td>
    
  </tr>
</table>

<div style="display: block;" >
  
</div>
 