.boundary {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    font:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}