.rcorners1 {
    border-radius: 25px;
    background: #e7e7e7;
    padding: 20px;
    width: 80px;
    height: 80px;
    text-align: center;   
    box-shadow: 10px 10px 5px #bdbbbb;   
  }
  
   
   
 
  
  
 