.rcorners1 {
    border-radius: 25px;
    background: #d47ed0;
    padding: 20px;
    width: 80px;
    height: 80px;
    text-align: center;   
    box-shadow: 10px 10px 5px #888888;   
  }
  
   
  .button:hover {
     background: #e0be5f;
     cursor: pointer;  
     color: black;
  }
 
  
  
 