<!doctype html> 
<table style="width: 100%;">
  <tr>
      <td style="width: 15%;">
          <span value="H" (click)="onSelect(option)" style="font-size: 22px;cursor: pointer;">my<span style="color: orange; ">f</span>in</span>
      </td>
      <td style="width: 70%;">
          <span class="title" style="padding-left: 30%;" (click)="onClick($event)">Dashboard</span>
      </td>
      <td style="width: 15%;">
          <span class="pipe"  (click)="selectnext(option)">Portfolio</span>
      </td>
  </tr>
</table><hr size="1"  color="lightgrey"> 
<table style="width: 100%;"  >
  <tr>
    <td style="width: 1%;"></td>
     <td class="status"  style="width: 98%;"><div class="shatusContent2"> {{total|number : '1.2-2'}}</div><span>Current Asset Size</span></td>
  </tr>   
</table>
<table >  
  <tr>
    <td style="width: 1%;"></td>
    <td>       
      <table> 
        <tr class="header1">
            <td class="headername">Asset Type</td>
            <td class="headeramt">Invested</td>    
            <td class="headeramt">Current</td>
            <td class="headeramt">XiRR Return</td>    
        </tr>
        <tr class="header2" *ngFor ="let d of dbDetail">        
                <td class="naming" style="cursor: pointer;" (click)="showReturn(d.assetName)">{{d.assetName}}</td>
                <td class="amt">{{d.invested|number : '1.2-2'}}</td>
                <td class="amt">{{d.currentValue|number : '1.2-2'}}</td>
                <td class="amt" [ngStyle]="{color: getTrColor(d.currentValue-d.invested)}" >{{d.xirrReturn|number : '1.2-2'}}%</td>
        </tr>
      </table>
    </td>
    <td>
      <span style="text-align: center;font-size:14px; font-weight: bold;" >Asset Distribution</span>       
          <div style="width: 650px; height: 450px;padding-left: 50px;" >
          <canvas baseChart 
            [datasets]="assetHistory"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [colors]="barChartColors"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>           
        </div></td>
  </tr>
  <tr>
    <td style="width: 1%;"></td>
    <td> <div style="text-align: center;font-size:14px; font-weight: bold;">Return on {{asttype}}</div>    
        <div style="width: 500px; height: 450px;padding-left: 50px;" > 
          <canvas baseChart 
          [datasets]="chartDataset1"
          [labels]="chartLabels"
          [options]="chartOptions"
          [colors]="chartColors1"
          [plugins]="chartPlugins1"
          [legend]="chartLegend1"
          [chartType]="chartType1">
        </canvas></div>
    </td>
    <td><div style="width: 700px; height: 450px;padding-left: 50px;" > 
      <canvas baseChart 
      [datasets]="pieChartData"
      [labels]="pieChartLabels"
      [options]="pieChartOptions"
      [colors]="pieChartColors"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
      [chartType]="pieChartType">
    </canvas></div>
    </td>
  </tr>
</table>
   
 
