<a href="" class="btnHome" value="H" (click)="onSelect(option)">Home</a>>
<span class="title" style="padding-left: 30%;">Dashboard</span><br>
<span class="header2" >Total : {{total|number : '1.2-2'}}</span>
<table> 
<tr class="header1">
    <td class="headername">Asset Type</td>
    <td class="headeramt">Invested</td>    
    <td class="headeramt">Current</td>
    <td class="headeramt">Return</td>    
</tr>
 <tr class="header2" *ngFor ="let d of dbDetail">
 
        <td class="naming">{{d.assetName}}</td>
        <td class="amt">{{d.invested|number : '1.2-2'}}</td>
        <td class="amt">{{d.currentValue|number : '1.2-2'}}</td>
        <td class="amt" [ngStyle]="{color: getTrColor(d.currentValue-d.invested),'font-weight':'bold'}" >{{(d.currentValue-d.invested)*100/d.invested|number : '1.2-2'}}%</td>
</tr>
</table><span> 
<div style="width: 700px;" >
    <canvas baseChart 
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [colors]="barChartColors"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
    <canvas id="mycanvas">
      
      </canvas>
  </div></span>
 
