.square {
    height: 16px;
    width: 16px;    
    background-color:lightgrey;
    border-left: 2px solid white;
    border-top: 1px solid white;
    display: inline-block;
    cursor: pointer;
  }
  .gap
  {
      padding: 5px;
  }