.square {
    height: 22px;
    width: 46px;    
    
    border-left: 2px solid white;
    
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
  .gap
  {
      padding: 5px;
  }