<!doctype html>
<table>
 <tr>
    <td class="gap">
        <div>
            <span class="square">JAN</span>            
        </div>        
    </td> 
    <td class="gap">
        <div>
            <span class="square">FEB</span>            
        </div>        
    </td> 
    <td class="gap">
        <div>
            <span class="square">MAR</span>            
        </div>        
    </td> 
    <td class="gap">
        <div>
            <span class="square">APR</span>            
        </div>        
    </td> 
    <td class="gap">
        <div>
            <span class="square">MAY</span>            
        </div>        
    </td> 
    <td class="gap">
        <div>
            <span class="square">JUN</span>            
        </div>        
    </td> 
    <td class="gap">
        <div>
            <span class="square">JUL</span>            
        </div>        
    </td> 
    <td class="gap">
        <div>
            <span class="square">AUG</span>            
        </div>        
    </td> 
    <td class="gap">
        <div>
            <span class="square">SEP</span>            
        </div>        
    </td> 
    <td class="gap">
        <div>
            <span class="square">OCT</span>            
        </div>        
    </td> 
    <td class="gap">
        <div>
            <span class="square">NOV</span>            
        </div>        
    </td> 
    <td class="gap">
        <div>
            <span class="square">DEC</span>            
        </div>        
    </td> 

</tr>
<tr>
    <td>
     </td>
    <td>
     </td>
</tr>
</table>