/* You can add global styles to this file, and also import other style files */
html {
  background-color: rgba(0, 0, 0, 0.007);
}
.button {
  display: inline-block;
  margin-left: 40px;
  border-radius: 15px;
  background: #113c9da8;
  width: 120px;
  height: 65px;
  text-align: center;
  padding-top: 35px;
  box-shadow: 10px 10px 5px #b3b2b2;
  color: white;
  font-size: 18px;
}
.button:hover {
  background: #113b9d6b;
  cursor: pointer;
  color: rgb(65, 64, 64);
  box-shadow: 10px 10px 5px #868686;
}
.status {
  display: inline-block;
  margin-right: 12px;
  border-radius: 20px;
  background: #113c9da8;
  text-align: center;
  box-shadow: 5px 4px 5px #888888;
  color: white;
  border: 1px solid #113c9da8;
  font-size: 12px;
  cursor: pointer;
}
.shatusContent {
  font: 500 18px Helvetica, sans-serif;
  padding-left: 100px;
  color: grey;
}
.shatusContent2 {
  font: 500 24px Helvetica, sans-serif;
  text-align: center;
  padding: 5px;
}
.statusSmall {
  font: 12px Helvetica, sans-serif;
  text-align: right;
  padding-left: 5px;
  color: #9bff3b;
}

.header1 {
  background: #505f82;
  color: white;
  font: 14px Helvetica, sans-serif;
  text-align: center;
  height: 30px;
}
.header2 {
  background: rgb(240, 240, 243);
  height: 25px;
  color: rgb(66, 66, 66);
  font: 530 15px "Open Sans", Arial, Helvetica, sans-serif;
  border-bottom: "1px solid #ddd";
}
.header3 {
  height: 25px;
  font: 20px "Open Sans", sans-serif;
  text-align: center;
}
.header4 {
  text-align: center;
  height: 25px;
  font: 300 14px sans-serif;
  color: #808080eb;
}
.savebtn {
  background-color: rgb(240, 240, 240);
  height: 20px;
  width: 90px;
  margin-left: 20px;
  border-radius: 4px;
  border-width: 1px;
  color: rgba(80, 80, 80, 0.507);
  font-weight: bold;
  border-color: rgba(128, 128, 128, 0.719);
}
.savebtn:hover {
  color: green;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.cellrow {
  background-color: rgb(197, 196, 196);

  border-collapse: collapse;
}
.headeramt {
  width: 100px;
  padding: 7px;
}
.headername {
  width: 350px;
  font: 14px Arial;
}
.headernameDiv {
  display: inline-block;
  width: 100px;
  font: 12px Arial;
}
.headerdt {
  width: 110px;
}

.naming {
  width: 180px;
  padding-left: 5px;
  font: 13px 600 bold arial;
  color: #3b3a3a;
  border-bottom: 1px dotted #bfbfbf;
}
.amt {
  height: 30px;
  color: #3b3a3a;
  text-align: right;
  font: 560 14px Helvetica, sans-serif;
  padding-right: 6px;
  border-bottom: 1px dotted #bfbfbf;
}
.amtDiv {  
  width: 80px;
  display: inline-block;
  color: #3b3a3a;
  text-align: right;
  font: 500 14px Helvetica, sans-serif;
  
  border-bottom: 1px dotted #bfbfbf;
}
.percent {
  height: 30px;
  color: #666;
  text-align: center;
  font: 560 13px Helvetica, sans-serif;
  padding-right: 6px;
  border-bottom: 1px dotted #bfbfbf;
}
.action {
  color: grey;
  display: inline-block;
  text-align: center;
  width: 120px;
  font: 500 14px "Open Sans", Arial, Helvetica, sans-serif;
  padding-right: 6px;
  border-bottom: 1px dotted #bfbfbf;
}
.action:hover {
  color: red;
}
.dt {
  width: 90px;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  background-color: rgb(255 195 0);
}
.dtDiv {
  display: inline-block;
  width: 90px;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  background-color: rgb(255 195 0);
}
.btnHome {
  font: 10 10px "bold", verdana, sans-serif;
  color: rgb(38, 24, 230);
}
.title {
  font: 500 28px "bold", "Open Sans", Arial, Helvetica, sans-serif;
  padding-left: 30%;
  color: #d27c19;
}
td {
  vertical-align: middle;
}
.dml {
  float: left;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  color: #d27c19;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid blue;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid green;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border: solid green;
  border-width: 0 3px 3px 0;
}
.pipe {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  vertical-align: bottom;
  font-size: 11px;
  font-weight: bold;
  color: grey;
}
.pipe:hover {
  color: goldenrod;
  cursor: pointer;
}
.inputT {
  font-weight: 7px;
  border: 1px dotted;
  background-color: palegoldenrod;
  width: 100px;
}
.inputDt {
  font-weight: 7px;
  border: 1px dotted;
  background-color: palegoldenrod;
  width: 120px;
}
.msg{
  font-weight: 10px;
  display: inline-block;
  width: 100px;
  text-align: center;
  color: green;
}
.divHeader {
  display: inline-block;
  width: 150px;
  text-align: center;
  background-color: #505f82;
  color: white;
 }
 .divAmt{
     display: inline-block;
  width: 150px;
  text-align: right;
  font: 560 13px Helvetica, sans-serif;
 }
 .divName{
     display: inline-block;
  width: 150px;
  text-align: left;
  font: 560 13px Helvetica, sans-serif;
 }
 .popup {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  cursor: pointer;
  height: 650px;
  width: 1200px;
  padding: 6px;
  z-index: 800;
  position: absolute;
  top: 50px;
  left: 200px;
  overflow: auto;
}