/* You can add global styles to this file, and also import other style files */
html { background-color: rgba(0, 0, 0, 0.007); }
.button {
    display:inline-block; 
    margin-left: 40px;
    border-radius: 20px;
    background: #ddd;
    width: 120px;
    height: 65px;
    text-align: center;
    padding-top:35px ;
    box-shadow: 10px 10px 5px #888888;
    color: rgba(0, 0, 0, 0.575);
    font-size: medium;
  }
  .header1 {
    display:inline-flex;     
    background: rgb(170, 58, 58);    
    height: 30px;      
    color: rgb(226, 225, 225);
    font-weight: bold;    
    border-width: 1px;
    border-color: rgb(248, 248, 248);
    text-align: center;
    vertical-align: middle;
    border-style: solid;
  }
  .header2 {
    display:inline-flex;     
    background: rgb(240, 240, 243);    
    height: 27px;      
    color: rgb(22, 22, 24);
    border: rgb(187, 181, 181);
    border-width: 1px;
    border-style: dotted;
    border-color: black;    
  }
  .savebtn{
    background-color: rgb(192, 192, 192);
    height: 30px;
    width:90px;
    margin-left: 20px;
    border-radius: 4px;
    border-width: 1px;
    color: rgba(80, 80, 80, 0.507);
    font-weight: bold;
    border-color: rgba(128, 128, 128, 0.719);
  }
  .savebtn:hover{
    color: rgb(97, 96, 96);
    background-color: rgb(197, 196, 196);
    font-weight: bold;
    cursor: pointer;    
  }
  .cell{    
    width: 140px;
    margin-left: 5px;      
  }
   
  .amt{    
    width: 140px;
    margin-left: 5px;
    text-align: right;      
  }
  
  .btnHome{
    height: 50px;
  }
  .naming{
    font-weight: bold;
    padding-left: 5px;
    padding-right: 2px;
  }