/* You can add global styles to this file, and also import other style files */
html { background-color: rgba(0, 0, 0, 0.007); }
.button {
    display:inline-block; 
    margin-left: 40px;
    border-radius: 20px;
    background: #ddd;
    width: 120px;
    height: 65px;
    text-align: center;
    padding-top:35px ;
    box-shadow: 10px 10px 5px #888888;
    color: rgba(0, 0, 0, 0.575);
    font-size: medium;
  }
  .status {
    display:inline-block; 
    margin-right: 15px;
    border-radius: 20px;
    background: #ddd;
    width: 150px;
    height: 100px;
    text-align: center;    
    box-shadow: 10px 10px 5px #888888;
    color: rgba(0, 0, 0, 0.575);
    font-size: medium;
  }
.shatusContent{
  font:500 12px "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 2px;
}

  .header1 {
    display:inline-flex;     
    background: rgb(170, 58, 58);    
    height: 40px;      
    color: rgb(226, 225, 225);
    font-weight: bold;   
    text-align: center;  
  }
  .header2 {
    display:inline-flex;     
    background: rgb(240, 240, 243);    
    height: 25px;      
    color:#666;     
    font:600 13px "Open Sans", Arial, Helvetica, sans-serif;
  }
  .savebtn{
    background-color: rgb(192, 192, 192);
    height: 20px;
    width:90px;
    margin-left: 20px;
    border-radius: 4px;
    border-width: 1px;
    color: rgba(80, 80, 80, 0.507);
    font-weight: bold;
    border-color: rgba(128, 128, 128, 0.719);
  }
  .savebtn:hover{
    color: rgb(97, 96, 96);
    background-color: rgb(197, 196, 196);
    font-weight: bold;
    cursor: pointer;    
  }
  .cellrow{
    background-color: rgb(197, 196, 196);
    border-spacing: 0px;
    border-collapse: collapse;
  }
  .headeramt{    
    width: 100px;
         
  }
  .headername{    
    width: 170px;
 
  }
  .naming{    
    width: 170px;    
    font-weight: bold;
    font-size: 11px; 
  }
  .amt{    
    width: 100px;    
    text-align: right;  
    font:500 12px "Open Sans", Arial, Helvetica, sans-serif;
  }
  
  .btnHome{
    height: 50px;
  }
 