<div>
<table style="width: 100%; background-color: #000000d9;">
    <tr>
        <td style="color:aliceblue;vertical-align: top;">
            <span value="H" (click)="onSelect(option)" style="font-size: 22px;cursor: pointer;">my<span style="color: orange; ">f</span>in</span>
        </td>
        <td style="width: 70%;text-align: center;font-size: 20px; color: aliceblue;">
            <!--<span class="title" style="padding-left: 30%;" (click)="onClick($event)">Dashboard</span>-->
            <div > {{sdividend|number:'1.2-2'}}</div><div class="header4"> Dividend</div>     
        </td>
        <td style="width: 15%;color:aliceblue;font-size: 20px; text-align: center;margin: 1px;">
          <div> {{eqtotal|number : '1.2-2'}}</div>
          <div class="header4">Net Investment</div>           
        </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>      
    </tr>
  </table>
  <div>
  <span class="header4" style="font-size: 20px;">Investment</span>
   <span style="padding-left: 2%;"><select class="dropDown" [(ngModel)]="selectedfolio"   id="portfolio" (change)="changeFolio($event)" >
      <option [value]="item.folioID" *ngFor="let item of folio"> {{item.folioName}}</option>                    
     </select>
     <span style="padding-left: 70px;">
        <input (click)="SelectAssetType('share')" type="radio" id="Share" name="equity" value="Share" checked> 
            <label for="Share">Share</label>
        <input (click)="SelectAssetType('MF')" type="radio" id="MF" name="equity" value="MF"> 
             <label for="MF">MF</label>
         <input (click)="SelectAssetType('Gold')" type="radio" id="Gold" name="equity" value="Gold"> 
             <label for="Gold">Gold</label>  
    </span>
    <span>
        <input (click)="selectInvstOption('y')" type="radio" id="yearly" name="option" value="yearly" checked> 
        <label for="yearly">Yearly</label>
        <input (click)="selectInvstOption('m')" type="radio" id="monthly" name="option" value="monthly" > 
        <label>Monthly</label>
    </span>
   </span>
  <div style="float: right;">
    <span class="pipe"   (click)="selectnext(option)">Bank Account Details</span>
    <span class="pipe" > | </span>
    <span class="pipe" (click)="selectnext(option)">Portfolio</span>
    <span class="pipe" > | </span>
    <span class="pipe" (click)="selectnext(option)">Tax</span>
    </div>
</div>
  
<div id="comment" class="comment">{{status}}</div> 
<br>

<ng-container *ngIf="show">
<table style="background-color: beige;">
    <tr >        
        <td>
            <span class="naming" >Asset Type:</span>
                <select class="inputT" id="portfolio" (change)="changeAsset($event)">
                <option value="1" >Shares</option>
                <option value="2">Equity MF</option>
                <option value="3">PF</option>
                <option value="4">PPF</option>
                <option value="5">Debt MF</option>           
                <option value="8">Flat</option> 
                <option value="12">Gold</option> 
                <option value="7">Plot</option> 
                <option value="6">Bank</option> 
                </select>           
         
            <span class="naming">Option:</span>
            <select id="option" class="inputT"  (change)="selectOption($event)"> 
                <option value=1>Buy</option> 
                <option value=2>Sell</option>
            </select>
        </td>        
        <td *ngIf="isShown"> 
            <span class="naming"  >Asset ID/Name:</span>
            <div style="z-index: -1" *ngIf="showresult"> 
                <div  id="result" *ngFor="let t of result">    
                    <span (click)="getId(t.assetId)" class="dt">{{t.assetId}}</span>
                    <span class="naming">{{t.equityName}}</span>                
                </div>
            </div>
            <input *ngIf="isShown" id="txtName" class="inputT" type="text"  (keypress)="getasset($event)" value="{{companyid}}" >
           <span class="naming"  >Date:</span>
                <input class="inputT" id="txtDt" type="date" (change)="changeDate($event)"> 
        </td>
    </tr>
    
    <tr>
        <td>
            <span class="naming"  >Price:</span><input class="inputT" id="txtPrice"   type="text"> 
            <span class="naming"  >Quantity:</span><input class="inputT" id="txtQty"  type="text"></td>
        <td> 
            <span class="naming"  >MarketCap:</span> <input class="inputT" id="txtMarketCap"  type="text">
            <span class="naming"  >PB:</span><input class="inputT" id="txtPB"   type="text">
            <input class="button1" type="button" value="Save" (click)="AddTransaction()"></td>
    </tr>
</table>
</ng-container>

<div (click)="showTrans(option)" class="dml">{{trnStatus}}</div><br>
<table>
    <tr>
        <td><div style="width: 700px;height: 350px;" >
            
            <canvas baseChart 
            [datasets]="invstShrDataSet"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [colors]="barChartColors"
            [chartType]="barChartType"
            (chartClick)="chartClick($event)">            
            </canvas>                             
        </div></td>
        <td>
            <div style="width: 600px;height: 250px; float: left; padding-left: 40px;" >
                <canvas baseChart 
                [datasets]="mnthInvstDataSet"
                [labels]="mnthInvstlbl"
                [options]="mnthInvstChartOptions"
                [plugins]="mnthInvstChartPlugins"
                [legend]="mnthInvstChartLegend"
                [colors]="mnthInvstChartColors"
                [chartType]="mnthInvstChartType"
                (chartClick)="getMonthlyInvest($event)">
                </canvas>                             
            </div>          
        </td>
    </tr>
    <tr>
        <td colspan="2"> <div style="width: 80%;  float: left; padding-left: 40px;  overflow: scroll;" >
            <canvas id="sectorWiseMonthlyInvst"
            ></canvas> </div>     
        </td>        
    </tr>
    <tr>
        <td>
            <div style="width: 550px;height: 250px; float: left; padding-left: 40px;" >
                <canvas baseChart 
                [datasets]="pfDataSet"
                [labels]="pfChartLabels"
                [options]="pfChartOptions"
                [plugins]="pfChartPlugins"
                [legend]="pfChartLegend"
                [colors]="pfChartColors"
                [chartType]="pfChartType"
                (chartClick)="getPFDetail($event)">
                </canvas>                             
            </div>

        </td>
        <td> 
          <div style="width: 550px;height: 250px; float: left; padding-left: 40px;" >
            <canvas baseChart 
            [datasets]="ppfDataSet"
            [labels]="ChartLabels"
            [options]="ChartOptions"
            [plugins]="ChartPlugins"
            [legend]="ChartLegend"
            [colors]="ChartColors"
            [chartType]="ChartType">
            </canvas>                             
        </div>  </td>
    </tr>
</table>
<div style="padding: 40px;"></div>
<ng-container *ngIf="DetailSummary">
    <span class="naming" style="font-weight: 600;padding-right: 3px;">Asset ID/Name:</span>
    <input  id="txtCompName" [(ngModel)]="compName" class="inputT" type="text"  (keypress)="filterAsset($event)">    
    <div class="name">{{msg}}</div>
<table >
    <tr class="header1">
        <td (click)="sort('purchaseDt')" class="headerdt">Date of Purchase</td>
        <td class="headername">Equity Name</td>
        <td class="headeramt" (click)="sort('ID')"> ID</td>        
        <td class="headeramt">Quantity</td>
        <td class="headeramt">Purchase Price</td>
        <td class="headeramt" (click)="sort('ia')">Invested amt</td>
        <td class="headeramt" (click)="sort('pb')">PB</td>
        <td class="headeramt" (click)="sort('mc')">MarketCap</td>
        <td class="headeramt">Transation Type</td>
        <td class="headeramt">verified</td>
        <td class="headeramt">Action</td>
        <td class="headeramt">Option</td>
    </tr>

 <tr class="header2" *ngFor="let t of filterPortfolio">  
        <td class="dt">
          {{t.tranDate|date}}
        </td>
        <td class="naming" (click)="showdividend(t.equityId,t.equityName)">{{t.equity.symbol}}</td>
        <td class="amt">{{t.equity.assetId}}</td>        
        <td class="amt">
            <div *ngIf="t.isEdit">
                <input type="text" [(ngModel)]="t.qty">
            </div>
            <div *ngIf="!t.isEdit">
                {{t.qty}}
            </div>     
          
        </td>
        <td class="amt">
            <div *ngIf="t.isEdit">
                <input type="text" [(ngModel)]="t.price">
            </div>
            <div *ngIf="!t.isEdit">
                {{t.price|number : '1.2-2'}}
            </div>            
        </td>
        <td class="amt">{{t.qty*t.price|number : '1.2-2'}}</td>
        <td class="amt">
            <div *ngIf="t.isEdit">
                <input type="text" [(ngModel)]="t.pB_Tran">
            </div>
            <div *ngIf="!t.isEdit">
                {{t.pB_Tran|number : '1.2-2'}}
            </div>
        </td>
        <td class="amt" [ngStyle]="{'background-color': getBGColor(t.marketCap)}">
            <div *ngIf="t.isEdit">
                <input type="text" [(ngModel)]="t.marketCap_Tran">
            </div>
            <div *ngIf="!t.isEdit">
                {{t.marketCap_Tran|number : '1.2-2'}}
            </div>
        </td>         
        <td class="amt" style="text-align:center ;" [ngStyle]="{color: getTranTypeColor(t.tranType)}">{{t.tranType}}</td>
        <td class="amt" style="text-align:center ;" [ngStyle]="{color: getTranTypeColor(t.verified)}">             
            {{t.verified}}
        </td>
        <td (click)="deleterecord(t)" style="cursor: pointer" class="action" >Delete</td>
        <td><button class="savebtn" (click)="editRow(t)">Edit</button>
            <button class="savebtn" (click)="updateTransaction(t)">Save</button>
        </td>
        
    </tr> 
</table>
 
</ng-container>
<table>
    <tr>
        <td>
            <div style="font-weight: 550;">Add PF Transaction</div>              
            
            <span class="naming1">Date:</span><input id="txtDt" type="date" class="inputdt">
            <span class="naming1">Emp:</span><input id="txtEmp" class="inputT" type="text"> 
            <span class="naming1">Emplyr:</span><input id="txtEmplyr" class="inputT" type="text"> 
            <span class="naming1">Pension:</span><input id="txtPension" class="inputT" type="text"> 
            <span class="naming1">FolioId:</span><input id="txtFolio" class="inputT" type="text"> 
            <span class="naming1">Transaction Type:</span>
                <select class="dropDown"  id="trnType">
                    <option [value]="item.id" *ngFor="let item of TypeOfTran" > {{item.name}}</option>                    
                </select>
            
              
            <input class="button1" type="button" value="Save" (click)="AddPFTransaction()"> 
        </td>
    </tr></table>
<table>
    <tr>
        <td style="width:2% ;"></td>
        <td>
            <table>
                <tr class="header1">
                    <td class="headername ">Month</td>
                    <td class="headername ">EMP Cont</td>
                    <td class="headername ">EMPLYR Cont</td>
                    <td class="headername ">Pension</td>    
                </tr>
                <tr class="header2" *ngFor="let t of PFAcctDetails">
                    <td class="dt">{{t.dateOfTransaction|date:'mediumDate'}}</td>
                    <td (click)="MovePFDetails(t)" class="amt">{{t.investmentEmp}}</td>
                    <td class="amt">{{t.investmentEmplr}}</td>
                    <td class="amt">{{t.pension}}</td>    
                </tr>
            </table>
        </td>
        <td style="width:2% ;"></td>
    </tr>
     
</table> 
 
<table id="status" class="popup" style="display: none;">
    <tr>
        <td colspan="2" (click)="hideShareDetails()" style="text-align: right;cursor: pointer;font-weight: bold;">X</td>
    </tr>
    <tr>
        <td colspan="2" > {{status}}     
        </td>
    </tr>
</table>

<!--POP UP-->
<div id="sharedetails" class="popup" style="display: none;" >
    <div class="popupCloseButton"><span (click)="HideSharedtl()">XX</span></div>
    <span class="header3">{{selectedEqt}}</span>
    <div style="height:300px">
        <div style="width: 520px;height:275px;float: left;" >
            <canvas baseChart
                [datasets]="EquityInvstmt"
                [labels]="eqtyHistorylbl"
                [options]="eqtChartOptions"
                [plugins]="eqtChartPlugins"
                [legend]="eqtChartLegend"
                [colors]="eqtChartColors"
                [chartType]="eqtChartType">
            </canvas>
        </div> 
        <div style="width: 520px;height:275px; float: right;" >
            <canvas baseChart
                [datasets]="DivReturn"
                [labels]="eqtyHstryDiv"
                [options]="divChartOptions"
                [plugins]="divChartPlugins"
                [legend]="divChartLegend"
                [colors]="divChartColors"
                [chartType]="divChartType">
            </canvas>
        </div>
    </div>     
     
    <div>
        
    </div>
   
        
</div>
 
</div>
