.bold {
    font-weight: bold;
  }
  .space {
    margin-right: 200px;
  }
   
  .popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 15px;
    padding-right: 15px;
  }
  .popupCloseButton:hover {
    background-color: #ccc;
  }
  .headerSmall{
    font: 300 11px sans-serif;
    color: yellow;
  }
  #sectorWiseMonthlyInvst {
    max-width: 100%;
    height: 100%;
   
  }
  .savebtn{
    width: 20px;
  }