<div><span><input type="button" class="btnHome" value="<<" (click)="onSelect(option)"></span>
    <span class="title" style="padding-left: 30%;" (click)="onClick($event)">Transaction Detail</span>
    <span style="padding-left: 30%;"><input type="button" class="btnHome" value=">>" (click)="selectnext(option)"></span>
    </div>
 <br>
 <span class="naming" >PortFolio:</span>
 <select id="portfolio" (change)="changeFolio($event)">
    <option value=1 >Fillic_gov</option>
    <option value=2>Renuka</option>
    <option value=3>Fillic</option>
    <option value=4>Naitik</option>
    <option value=5>Kedar</option> 
</select><br>
 <div (click)="showTrans(option)" class="dml">{{trnStatus}}</div><br>
 <ng-container *ngIf="show">
<table>
    <tr *ngIf="isShown">        
        <td><span   class="naming" >Asset ID/Name:</span>
            <div style="z-index: -1" *ngIf="showresult"> 
            <div  id="result" *ngFor="let t of result">    
                <span (click)="getId(t.id)" class="dt">{{t.id}}</span>
                <span class="naming">{{t.fullName}}</span>                
            </div></div></td>
        <td><input *ngIf="isShown" id="txtName" class="headeramt" type="text"  (keypress)="getasset($event)" value="{{companyid}}" ></td>
        <td><span class="naming">Quantity:</span></td>
        <td><input id="txtQty" class="headeramt" type="text"></td>
        <td><span class="naming" >Option:</span></td><td>
            <select id="option" (change)="selectOption($event)"> 
            <option value="B">Buy</option> 
            <option value="S">Sell</option>
        </select>
        </td>
        <td></td>
        <td></td>        
        
    </tr>
    <tr>
        <td> <span class="naming">Asset Type:</span></td>
        <td><select id="portfolio" (change)="changeAsset($event)">
            <option value=1 >Shares</option>
            <option value=2>Equity MF</option>
            <option value=3>PF</option>
            <option value=4>PPF</option>
            <option value=5>Debt MF</option>           
            <option value=8>Flat</option> 
            <option value=12>Gold</option> 
            <option value=7>Plot</option> 
            <option value=6>Bank</option> 
     </select></td>
     <td><span class="naming">Date:</span></td>
     <td><input id="txtDt" type="date" (change)="changeDate($event)"></td>
     <td><span class="naming">Price:</span></td>
     <td><input id="txtPrice" class="headeramt" type="text"></td>     
     <td><input class="savebtn" type="button" value="Save" (click)="AddTransaction()"></td>
     <td></td>
    </tr>
</table></ng-container>


<div id="comment" class="comment">{{status}}</div>
<h4>Total Amount: {{total}}</h4>
<table >
    <tr class="header1">
        <td class="headerdt">Date of Purchase</td>
        <td class="headername">Equity Name</td>
        <td class="headeramt"> ID</td>
        <td class="headeramt">Purchase Price</td>
        <td class="headeramt">Quantity</td>
        <td class="headeramt">Invested amt</td>
        <td class="headeramt">Transation Type</td>
        <td class="headeramt">Action</td>
    </tr>

 <tr class="header2" *ngFor="let t of equitytransaction">    
        <td class="dt">{{t.tranDate|date}}</td>
        <td class="naming">{{t.equityName}}</td>
        <td class="amt">{{t.equityId}}</td>
        <td class="amt">{{t.price|number : '1.2-2'}}</td>
        <td class="amt">{{t.qty}}</td>
        <td class="amt">{{t.qty*t.price|number : '1.2-2'}}</td>
        <td class="amt">{{t.tranType}}</td>
        <td (click)="deleterecord(t.equityId, t.tranDate)" style="cursor: pointer" class="amt" >Delete</td>
    </tr>
 
</table>
