<!DOCTYPE html>
<table style="width: 100%; background-color: #000000d9;">
  <tr>
      <td style="color:aliceblue;vertical-align: top;">
          <span value="H" (click)="onSelect(option)" style="font-size: 22px;cursor: pointer;">my<span style="color: orange; ">f</span>in</span>
      </td>
      <td style="width: 70%;text-align: center;font-size: 20px; color: aliceblue;">
          
              
      </td>
      <td style="width: 15%;color:aliceblue;font-size: 20px; text-align: center;margin: 1px;">
        <div>  %</div>
        <div class="header4">Aset Return(xirr)</div>           
      </td>
  </tr>
  
</table>
<div>
  <span class="header4" style="font-size: 20px; " >Expense</span>
  <select [(ngModel)]="selectedfolio" (change)="changeFolio($event)" style="cursor: pointer; background-color: #eaea25de;"  id="txtFolio" >
    <option [value]="item.folioID" *ngFor="let item of folios" > {{item.folioName}}</option>                    
  </select>
  <span class="pipe" (click)="selectnext(option)">Admin</span>
</div>
<div style=" ">Add File
  <input type="file" (change)="onFileSelected($event)" />
</div>
<form (ngSubmit)="uploadFile()" #fileForm="ngForm">
  <input type="file" (change)="onFileChange($event)" #fileInput>
  <button type="submit">Upload File</button>
</form>
 
<div style="width: 650px;height:350px; " >
  <canvas baseChart
    [datasets]="getMonthlyExpense"
    [labels]="expLbl"
    [options]="expOption"
    [plugins]="expPlugins" 
    [legend]="barChartLegend"
    [colors]="expColors"
    [chartType]="expType"
    (chartClick)="historyClick($event)">
  </canvas>   
</div>

<div>
  <div style="font-weight: 550;">Add Expense</div>     
  <span class="naming">Expense Type:</span>
  <select [(ngModel)]="expType1" style="cursor: pointer; background-color: #eaea25de;"  id="txtType" (change)="changeAccount($event)">
      <option [value]="item.expTypeId" *ngFor="let item of expTypes" > {{item.expTypeDesc}}</option>                    
  </select>
  <span class="naming">Amt:</span><input name="expamt" id="expamt" class="inputT">
  <span class="naming">Date:</span><input id="txtExpDt" type="date" class="inputdt">
  <span class="naming" style="width: 120px;">Desc:</span><input id="txtExpDesc" type="textArea" class="inputdt">
  <input class="savebtn" type="button" value="Save" (click)="AddExpense()"> 
</div>
<table style="width: 100%;">
  <tr class="header1">
     <td>FolioID</td>
     <td>Expense Category</td>
    <td>Description</td>
    <td  style="width: 50%;">Details</td>
    <td>AMT</td>  
    <td>Action</td>
  </tr>
  <tr class="header2" *ngFor="let item of monthlyExpense" >
    <td  >{{item.folioId}}</td>
    <td> 
    <select [(ngModel)]="selectedValues[item]" style="cursor: pointer; background-color: #eaea25de;"  id="txtType" (change)="changeAccount($event)">
          <option [value]="item.expenseType" *ngFor="let item of expTypes" > {{item.expTypeDesc}}</option>                    
      </select></td>
    <td    (click)="CopyOver(item)">{{item.expenseType.expTypeDesc}}</td>
    <td   style="width: 50%;height: 20px;">{{item.desc}}</td>
    <td  >{{item.amt|number:'1.2-2'}}</td>  
    <td (click)="deleterecord(item.expId)" style="cursor: pointer" class="action" >Delete</td>
  </tr>        
</table>